        /* configuração geral */
        *{
            margin: 0px;
            padding: 0px;
        }
        html, body{
            width: 90vw;
            height: 100vh;
            background-color: #233eff;
        }
        h1{
            color: white;
            text-shadow: 3px 3px 0px #142189;
        }

        /* configuração paisagem */
        @media screen and (orientation: landscape) {
            body{
            background-image: url("imagens/cev-landscape.jpg");
            background-repeat: no-repeat;
            background-position: bottom left;
            background-size: contain;
            }
        }

        /* configuração retrato */
        @media screen and (orientation: portrait){
            body{
            background-image: url("imagens/cev-portrait.jpg");
            background-repeat: no-repeat;
            background-size: contain;
            background-position: bottom;
            }
        }