* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    height: 90px;
    padding: 0 6%;

    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: rgb(255, 255, 255);
}

/* LOGO */

.logo h1 {
    font-size: 30px;
    color: #263238;
}

.logo span {
    color: #00a6b7;
}

/* MENU */

nav {
    display: flex;
    align-items: center;
    gap: 30px;
}

nav a {
    color: #444;
    text-decoration: none;
    font-size: 16px;
}

nav a:first-child {
    color: #00a6b7;
}

/* BOTÃO */

.botao {
    background-color: #00a6b7;
    color: white;

    text-decoration: none;

    padding: 12px 25px;
    border-radius: 4px;
}

.botao {
    position: relative;
    background-color: #00a6b7;
    color: white;
    text-decoration: none;
    padding: 12px 25px;
    border-radius: 4px;
}

/* linha */
.botao::after {
    content: "";
    position: absolute;

    left: 0;
    bottom: 0;

    width: 0;
    height: 3px;

    background-color: white;

    transition: width 0.60s ease;
}

/* ao passar o mouse */
.botao:hover::after {
    width: 100%;
}